@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Archivo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.separator {
  @apply h-1 mt-7 bg-amber-500 w-9/12;
}

.main-body-style {
  @apply bg-gradient-to-r from-indigo-950 to-fuchsia-900 h-screen overflow-x-hidden;
}

.portfolio-template {
  @apply w-full flex flex-col;
}

.btnTest {
  @apply border-amber-400 lg:w-full;
}

/* Clase md del Navbar*/
.headerScreenPortFolioHeaderSm {
  @apply p-2 h-16 flex text-xl flex-row justify-center border backdrop-blur-sm bg-transparent/30 rounded-md;
}

/* Clase para los estilos de los botones del navbar */
.navbar-buttons-style {
  @apply hover:scale-105 transition-transform duration-200 no-underline hover:cursor-pointer hover:bg-amber-500 flex px-4 text-white text-center items-center rounded;
}

.contact-buttons-style {
  @apply hover:scale-105 transition-transform duration-200 no-underline hover:cursor-pointer hover:bg-amber-600 flex px-4 text-white text-center items-center rounded;
}

/* Clases de los estilos TailwindCSS teléfono */
.header-phone-principal {
  @apply p-2 h-16 w-full border flex flex-row justify-between items-center backdrop-blur-sm bg-transparent/30 rounded-md;
}

.main-template-body-phone {
  @apply flex flex-col py-8 mx-2 justify-center;
}

.title-photo-phone {
  @apply flex flex-col justify-center align-middle md:flex-row
  lg:justify-end lg:h-auto;
}

.principalUserName {
  @apply text-white border-l-4 border-b-2 font-semibold
  text-6xl w-max pl-4 pr-8 pb-2 my-6
  lg:w-3/4 lg:flex hover:scale-105 transition-transform duration-200 cursor-pointer
  md:pl-10 md:pr-16 md:pb-4 md:my-8 md:text-7xl;
}

.main-titlename-phone {
  @apply flex flex-col align-middle justify-center items-center ml-2
  lg:w-2/3 lg:items-start lg:ml-8;
}


.main-subtitle-phone {
  @apply text-white text-2xl font-normal italic hover:scale-105 transition-transform duration-200 cursor-pointer;
}

.main-about-me-phone {
  @apply flex flex-col justify-center mt-8 mb-6 mx-8;
}

.main-about-me-listbox-phone {
  @apply flex flex-col justify-center mb-6 mx-8;
}

.main-info-box-phone {
  @apply flex flex-col justify-center my-6 mx-8;
}

.information-composition{
  @apply md:max-w-96 lg:max-w-2xl md:self-center;
}

/* InformationBox Component Classes */
.information-composition-phone {
  @apply flex flex-col;
}

.information-flex-phone {
  @apply flex align-middle;
}

.information-h1-phone {
  @apply text-2xl font-bold align-middle mb-2;
}

/**
  * Clases de los estilos md del proyecto
  */

  .title-photo-md {
    @apply flex flex-row justify-center align-middle;
  }
















.portfolio-pic-animation {
  @apply items-center self-center m-2 h-64 w-64 hover:scale-105 from-gray-800 to-gray-600 transition-transform duration-200
  lg:w-72 lg:h-72;
}